a{
    color:#FFFFFF;
    text-decoration-line:none; }

.brand-icon a{
    color:rgb(155, 155, 155);}

.brand-icon a:hover{
    color::rgba(77, 77, 77, 0.3);}

a:hover{
    color:rgb(77, 77, 77);
    font-weight: bold;}

.top{
    position:sticky;
    width:1366px;
    height:165px;
    padding-top:20px;
    margin:auto;
    background-color:rgb(0, 55, 41);}
    
.top-logo{
    float:left;
    width:600px;
    padding-top:50px;
    padding-left:50px;}

.menu{
    background-color: rgb(169,187,80);
    width:1366px;
    height:50px;
    margin:auto;
    position:sticky;
    top:0px;}

ul{
    list-style: none;}

.menu li{
    float:left;
    padding-top:12px;
    padding-right:20px;
    display:inline-block;
    font-size: 20px;}

.menu-home li{
    float:left;
    display:inline-block;
    margin-right:620px;
    font-size: 22px;
    font-weight: bold;
    color: #FFFFFF;
    padding-top:10px;
    padding-left:10px;}

.index-brand{
    width:1366px;
    height:100%;
    margin:auto;
    display:table;}

.brand-icon{
    width:280px;
    height:280px;
    padding:10px;
    margin-left:30px;
    margin-top:30px;
    margin-bottom:30px;
    float:left;}

p{
    color:rgb(77,77,77);
    text-align: center;
    font-size: 20px;
    margin: 5px;}

.footer-top{
    background-color:#FFFFFF;
    width:1366px;
    height:100px;
    margin:auto;}

.footer{
    background-color:rgb(204, 204, 204);
    width:1366px;
    height:250px;
    margin:auto;}

.footer-up2{
    background-color:rgb(0, 55, 41);
    width:1366px;
    height:30px;
    margin:auto;}

.footer-logo{
   margin-left:540px;
}

.footer-3{
    background-color:rgb(204, 204, 204);
        width:1366px;
        height:250px;
        margin:auto;}

.footer-3 h1{
    width:1366px;
    height:40px;
    margin-left:560px;
    color:rgb(77,77,77);
    display:inline-block;
}

.footer-3 p{
    padding-top:10px;
    padding-bottom:1px;
    clear:both;
    font-size: 18px;}

.about{
    width:1366px;
    height:550px;
    margin:auto;}

.about-img{
    height:100%;
    margin-top:40px;
    margin-left:10px;
    margin-right:30px;
    float:left;}

.about li{
    list-style:none;
    color:rgb(77, 77, 77);
    font-size: 18px;
    line-height: 30px;}

.about h2{
    font-size: 28px;
    display:inline-block;
    margin-top:40px;}

.intro{
    width:1280px;
    height:100%;
    margin:auto;
    display:table;}

.intro p{
    width:90%;
    text-align:center;
    margin:auto;
    line-height:35px;}

.intro h2{
    text-align: center;
    margin-top:30px;}

.intro li{
    text-align: center;
    font-size: 20px;
    margin-top:30px;
    margin-bottom:40px;
    color:rgb(77, 77, 77);
    list-style: none;}

.intel-img{
        width:90%;
        text-align: center;
        margin-top:40px;
        margin-left:80px;}
    
.sanrio-img{
        width:80%;
        text-align: center;
       margin-left:120px;}
            
        
.whoo-img{
        width:70%;
        text-align: center;
        margin-top:30px;
        margin-left:150px;}

.cooper-img{
            width:70%;
            text-align: center;
            margin-top:30px;
            margin-left:150px;}

.symbol-img{
            width:90%;
            text-align: center;
            margin-top:30px;
            margin-left:50px;}
.icpdas-img{
            width:90%;
            text-align: center;
            margin-top:30px;
            margin-left:50px;}

.home{
    width:1366px;
    margin:auto;
    display:table;}

.home-btn1{
    margin-left:100px;
    margin-right:800px;
    float:left;}
    

.home-btn2{
    float:left;}


.home-btn1 h3, .home-btn2 h3{
    color:rgb(77, 77, 77);
    background-color: rgb(201, 202, 202);
    width:150px;
    padding:10px;
    text-align: center;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    -webkit-box-shadow: 0 10px 11px rgba(0,0,0,0.66);
    -moz-box-shadow: 0 10px 11px rgba(0,0,0,0.66);
    box-shadow: 0 10px 11px rgba(0,0,0,0.66);}

.home-btn1 h3 a, .home-btn2 h3 a{
    color:rgb(77, 77, 77);}

.home-btn1 h3 a:hover, .home-btn2 h3 a:hover{
    color:#FFFFFF;}



        
